$brand-color:       #1b1b1b;   // near-black but not harsh
$highlight:         lighten($brand-color, 15%);
$text-color:        #e5e5e5;   // soft white
$muted-text-color:  #9a9a9a;

/* Original Color Palette: 
$brand-color:         #fede00;
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$muted-text-color:    #64644B;
*/

$font-family:         "EB Garamond", Garamond, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
